<!DOCTYPE html>
<html lang="en">
<head>
    <title> {{title}} </title>
    <link rel="shortcut icon" href="../img/logo_tdtu.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="../assets/css/header-1.css">
    <link rel="stylesheet" href="../assets/css/alumni-profile.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="stylesheet" href="../assets/css/footer.css">


    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://unpkg.com/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    {{> header-1}}
</head>

<body>
    <div class="content">
        {{!-- Flash message --}}
        {{#if messageSuccess}}
        <div class="position-absolute top-0 end-0" style="z-index: 1000; margin: 100px 38px" id="success-alert">
            <div class="col-lg-10 mx-auto mb-3 w-auto">
                <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2 mr-3" width="24" height="24" role="img" aria-label="Warning:">
                        <use xlink:href="#check-circle-fill" />
                    </svg>
                    <div> {{ messageSuccess }} </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
        {{/if}}

        {{!-- Alumini website --}}
        <section class="alumni-profile-section" id="detail-alumni">
            <div class="container">
                {{#with user}}
                <div class="alumni-left">
                    <div class="alumni-card">
                        <div class="alumni-info">
                            <img src="../uploads/avatar/{{avatar_url}}" alt="" class="avatar">
                            <div class="alumni-name">
                                <h3 class="alumni-name"> {{ fullname  }} </h3>
                                <h5 class="alumni-mayjor"> {{ major }} </h5>
                            </div>
                        </div>
                        <div class="alumni-dsc alumni-join">
                            <h3>Tham gia:</h3>
                            <h4> 4 ngày </h4>
                        </div>
                        <div class="alumni-dsc alumni-online">
                            <h3>Hoạt động:</h3>
                            <h4> 2 tiếng trước </h4>
                        </div>
                        <div class="alumni-dsc alumni-profile-view">
                            <h3>Người xem:</h3>
                            <h4>45</h4>
                        </div>
                        <div class="alumni-dsc alumni-followers">
                            <h3>Người theo dõi:</h3>
                            <h4>100</h4>
                        </div>
                        <div class="alumni-dsc alumni-description">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti voluptas expedita, voluptatum dolorem dignissimos debitis perferendis ab suscipit, quibusdam corporis odit. Placeat sequi quidem adipisci reiciendis, nostrum quo ipsam accusantium.</p>
                        </div>
                        <div class="alumni-social">
                            <div class="social-media-button">
                                <a href="{{ facebook_link }}">
                                    <img
                                        alt="Facebook"
                                        src="../assets/img/small-logos/facebook.svg"
                                    />
                                </a>
                            </div>
                            <div class="social-media-button">
                                <a href="{{ github_link }}">
                                    <img
                                        alt="Git-hub"
                                        src="../assets/img/small-logos/github.svg"
                                    />
                                </a>       
                            </div>
                            <div class="social-media-button">
                                <a href="{{ linked_link }}">
                                    <img
                                        alt="LinkedIn"
                                        src="../assets/img/small-logos/linkedin.svg"
                                    />
                                </a>    
                            </div>
                        </div>
                        <div class="alumni-chat">
                            <a href="">Gửi tin nhắn</a>
                        </div>
                    </div>
                </div>
                <div class="alumni-right">
                    <div class="alumni-card">
                        <div class="alumni-title">
                            Hồ sơ cá nhân
                        </div>
                        <div class="alumni-basic-title">
                            <h2>Thông tin cơ bản</h2>
                            <div class="alumni-content">
                                <div class="alumni-name-properties">Họ và tên</div>
                                <div class="alumni-name"><h3> {{ fullname }} </h3></div>    
                            </div>
                            <div class="alumni-content">
                                <div class="alumni-name-properties">Giới tính</div>
                                <div class="alumni-name"><h3> {{ gender }} </h3></div>    
                            </div>
                            <div class="alumni-content">
                                <div class="alumni-name-properties">Quốc gia</div>
                                <div class="alumni-name"><h3>Việt Nam</h3></div>    
                            </div>
                            <div class="alumni-content">
                                <div class="alumni-name-properties">Ngày sinh</div>
                                <div class="alumni-name"><h3> {{ birthday }} </h3></div>    
                            </div>
                        </div>
                        <div class="alumni-basic-title">
                            <h2>Chương trình hoàn thành tại trường</h2>
                            <div class="alumni-content">
                                <div class="alumni-name-properties">2022</div>
                                <div class="alumni-name"><h3>Project 1</h3></div>
                            </div> 
                            <div class="alumni-content">
                                <div class="alumni-name-properties">2021</div>
                                <div class="alumni-name"><h3>Project 2</h3></div>
                            </div>
                            <div class="alumni-content">
                                <div class="alumni-name-properties">2020</div>
                                <div class="alumni-name"><h3>Project 3</h3></div>
                            </div> 
                            <div class="alumni-content">
                                <div class="alumni-name-properties">CV</div>
                                <div class="alumni-name"><a href="">Trần Hoàng Quang Din CV</a></div>
                            </div>  
                        </div>
                        <div class="alumni-basic-title">
                            <h2>Thông tin liên lạc</h2>
                            <div class="alumni-content">
                                <div class="alumni-name-properties">Địa chỉ nhà</div>
                                <div class="alumni-name"><h3> {{ address }} </h3></div>
                            </div>
                            <div class="alumni-content">
                                <div class="alumni-name-properties">Email Adress</div>
                                <div class="alumni-name"><h3> {{ email }} </h3></div>
                            </div>
                            <div class="alumni-content">
                                <div class="alumni-name-properties">Số điện thoại</div>
                                <div class="alumni-name"><h3> {{ tel }} </h3></div>
                            </div>
                            <div class="alumni-content">
                                <div class="alumni-name-properties">Website</div>
                                <div class="alumni-name"><h3>Not availble</h3></div>
                            </div>
                        </div>
                    </div>
                </div>
                {{/with}}
            </div>
        </section>

        <script src="../assets/js/alumni.js"></script>
        <script>
            $(document).ready(function () {
                $('#success-alert').slideDown(function () {
                    $('#success-alert').fadeIn(300).delay(3000).fadeOut(400);
                });

                $('#error-alert').slideDown(function () {
                    $('#error-alert').fadeIn(300).delay(3000).fadeOut(400);
                });

            });
        </script>

        <script>
            // selecting required element
            const element = document.querySelector(".pagination ul");
            let totalPages = 20;
            let page = 10;

            //calling function with passing parameters and adding inside element which is ul tag
            element.innerHTML = createPagination(totalPages, page);
            function createPagination(totalPages, page) {
                let liTag = '';
                let active;
                let beforePage = page - 1;
                let afterPage = page + 1;
                if (page > 1) { //show the next button if the page value is greater than 1
                    liTag += `<li class="btn prev" onclick="createPagination(totalPages, ${page - 1})"><span><i class="fas fa-angle-left"></i> Prev</span></li>`;
                }

                if (page > 2) { //if page value is less than 2 then add 1 after the previous button
                    liTag += `<li class="first numb" onclick="createPagination(totalPages, 1)"><span>1</span></li>`;
                    if (page > 3) { //if page value is greater than 3 then add this (...) after the first li or page
                        liTag += `<li class="dots"><span>...</span></li>`;
                    }
                }

                // how many pages or li show before the current li
                if (page == totalPages) {
                    beforePage = beforePage - 2;
                } else if (page == totalPages - 1) {
                    beforePage = beforePage - 1;
                }
                // how many pages or li show after the current li
                if (page == 1) {
                    afterPage = afterPage + 2;
                } else if (page == 2) {
                    afterPage = afterPage + 1;
                }

                for (var plength = beforePage; plength <= afterPage; plength++) {
                    if (plength > totalPages) { //if plength is greater than totalPage length then continue
                        continue;
                    }
                    if (plength == 0) { //if plength is 0 than add +1 in plength value
                        plength = plength + 1;
                    }
                    if (page == plength) { //if page is equal to plength than assign active string in the active variable
                        active = "active";
                    } else { //else leave empty to the active variable
                        active = "";
                    }
                    liTag += `<li class="numb ${active}" onclick="createPagination(totalPages, ${plength})"><span>${plength}</span></li>`;
                }

                if (page < totalPages - 1) { //if page value is less than totalPage value by -1 then show the last li or page
                    if (page < totalPages - 2) { //if page value is less than totalPage value by -2 then add this (...) before the last li or page
                        liTag += `<li class="dots"><span>...</span></li>`;
                    }
                    liTag += `<li class="last numb" onclick="createPagination(totalPages, ${totalPages})"><span>${totalPages}</span></li>`;
                }

                if (page < totalPages) { //show the next button if the page value is less than totalPage(20)
                    liTag += `<li class="btn next" onclick="createPagination(totalPages, ${page + 1})"><span>Next <i class="fas fa-angle-right"></i></span></li>`;
                }
                element.innerHTML = liTag; //add li tag inside ul tag
                return liTag; //reurn the li tag
            }
        </script>

    </div>
</body>
{{> footer}}

</html>